include *.txt
include *.md
recursive-include ./funda_scraper/*

include funda_scraper/VERSION
include funda_scraper/config/config.yaml
include README.md

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]